# Introdução à Linguagem R

## Autor: Luiz Affonso Guedes
última atualização: outubro de 2017

## Objetivo

O objetivo geral deste documeto é apresentar a potencialidade da linguagem R. 
Os objetivos específicos deste documento são:
- Apresentar as principais funcionalidades da linguagem R, como tipos e estruturas de controle.
- Apresentar funções básicas de manipulação de dados na linguagem R.
- Tipos Vetores, Matrizes e Frames: uso, operações.
- Uso e definição de funções em linguagem R.
- Apresentar as funcionalidade de gráficos na linguagem R.

## Metodologia Utilizada
Usaremos uma abordagem interativa e incremental, mesclando braves explicações conceituais com programas em linguagem R.

# Sumário
- Introdução à linguagem R.
- Operadores e tipos de dados básicos
- Tipos de dados avançados e suas operações: vetores, matrizes, frames.
- Estruturas de controle
- Algumas funções úteis em R
- Uso e definição de função em R

## 0. Por quê a Linguagem R?

- R é uma ótima linguagem para iniciar sua jornada de ciência dos dados porque ela fornece um ambiente projetado desde o início para suportar a ciência dos dados. 
- R não é apenas uma linguagem de programação, mas também é um ambiente interativo para fazer ciência de dados. Para suportar a interação, R é uma linguagem muito mais flexível do que muitos dos seus pares. 
- Essa flexibilidade vem com suas desvantagens, mas a grande vantagem é como é fácil evoluir gramáticas personalizadas para partes específicas do processo de ciência dos dados. Essas mini linguagens ajudam você a pensar sobre problemas como cientista de dados, ao mesmo tempo em que oferece suporte à interação fluente entre o cérebro e o computador.

## 1. Operadores e Tipos Básicos de R

Operadores matematicos básicos em R
- Addition: +
- Subtraction: -
- Multiplication: *
- Division: /
- Exponentiation: ^
- Modulo: %%

In [5]:
# Aqui é um comentário em R

# Exemplo de uso de operadores em R
# Adição
5 + 5 

# Subtração
5 - 5 

# Multiplicação
3 * 5

 # Divisão
(5 + 5) / 2 

# Exponenciação
5 ^ 2

# Módulo
10%%3

[1] 10

[1] 0

[1] 15

[1] 5

[1] 25

[1] 1

Variáveis e atribuição de valor a variável

a <- 2

b = 3

Não esquecer que R é case sensitive

In [ ]:
a <- 2
A <- 4
b = 3
c <- A-a

a
b
A
c

Alguns tipos básicos de dados em R
- Decimais, como 4.5: numerics.
- Naturais, como 4 - integers. Integers também são numerics.
- Boolean (TRUE or FALSE) - logical.
- Texto (ou string).

In [163]:
# Aqui é um comentário em R
# Exemplo do uso do operador atribuição em R

# Change my_numeric to be 42
my_numeric <- 42.5

# Change my_character to be "universe"
my_character <- "some text"

# Change my_logical to be FALSE
my_logical <- TRUE

# Valors of Variables 
my_numeric
my_character
my_logical

[1] 42.5

[1] "some text"

[1] TRUE

## 2. Algumas funções úteis

Para verificar o tipo da variável em R - Utilizar função class()
- class(nome_da-variavel)
 
Para obter help de uma variável
- help(nome_da-variavel)
- ?nome_da-variavel

Para obter informação sobre os argumento de uma função
- args(snome_da-variavel)

Para obter informação sobre as variáveis ativas no ambiente
- ls( )

In [167]:
# Check class of my_numeric
class(my_numeric)

# Check class of my_character
class(my_character)

# Check class of my_logical
class(my_logical)

print("Função args()")
texto <- "Alô, mundo!"
args(ls)
print("Função ls()")
ls()

[1] "numeric"

[1] "character"

[1] "logical"

[1] "Função args()"

function (name, pos = -1L, envir = as.environment(pos), all.names = FALSE,
    pattern, sorted = TRUE)
NULL

[1] "Função ls()"

 [1] "a"                    "A"                    "A_vector"
 [4] "all_wars_matrix"      "b"                    "B_vector"
 [7] "boolean_vector"       "box_office"           "box_office2"
[10] "c"                    "character_vector"     "days_vector"
[13] "diferenca_vector"     "empire_strikes"       "facebook"
[16] "idadePais"            "last"                 "linkedin"
[19] "matriz1"              "matriz2"              "matriz3"
[22] "matrizX"              "my_character"         "my_logical"
[25] "my_numeric"           "new_hope"             "non_us_all"
[28] "non_us_some"          "numeric_vector"       "pais"
[31] "poker_vector"         "region"               "return_jedi"
[34] "roulette_vector"      "soma"                 "some_vector"
[37] "star_wars_matrix"     "star_wars_matrix2"    "teste"
[40] "texto"                "ticket_prices_mat"    "ticket_prices_matrix"
[43] "titles"               "total_daily"          "total_vector"
[46] "us_visitors"          "vetor1"               "vetor2"
[49] "vetor3"               "VetorA"               "VetorB"
[52] "VetorC"               "VetorD"               "vetorX"
[55] "views"                "visitors"             "worldwide_vector"

## 3. Tipo vetor em R

Vetores são arrays unidimencionais que "qualquer"tipo: numérico, lógico, decimais, etc.

- Em R, vetores são criados através da função c( ). 
- Os elementos dos vetores são separados por vírgulas.

 c(elemento1, elemento2, ...)

In [ ]:
# Aqui é um comentário em R
# Exemplos de criação de vetores em R

numeric_vector <- c(1, 2, 3)
character_vector <- c("a", "b", "c")
boolean_vector <-c(TRUE, FALSE, TRUE)

numeric_vector
character_vector
boolean_vector

class(numeric_vector)
class(character_vector)
class(boolean_vector)

- Também é possível utilizar a função names( ) para a criação de vetores:

names(nome_do_vetor)

In [ ]:
# Aqui é um comentário em R
# Exemplo do uso da função name() para criar um vetor

some_vector <- c("John Doe", "poker player")
some_vector
names(some_vector) <- c("Name", "Profession")
some_vector

- A seguir há mais alguns exemplo de criação de vetores em R

In [ ]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)
poker_vector

# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)
roulette_vector

# Assign days as names of poker_vector
names(poker_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
poker_vector

# Assign days as names of roulette_vectors
names(roulette_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
roulette_vector

# Assign new days as names of roulette_vectors
names(roulette_vector) <- c("Segunda", "Terça", "Quarta", "Quinta", "Sexta")
roulette_vector

# Assign days as names of roulette_vectors
names(roulette_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
roulette_vector

### Exercício:
- Crie um vetor denominado de pais com os nomes dos seus pais.
- Crie um vetor denominado de idadePais, com a idade do seus pais.
- Nomear os índices dos vetores pais e idadePais para "Pai" e  "Mãe".

In [ ]:
pais <- c(----, ----")
idadePais <- c(--, --)
pais
idadePais
names(---) <- c(---, ---)
names(---) <- c("Pai", "Mãe")
pais
idadePais

### 3.1 Operações com Vetores

- Para Soma e Subtração de vetores, utiliza-se os operadores + e -

C = A + B

D = A - B

In [ ]:
print("Exemplo de soma e subtração de dois vetores")
A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Soma de dois vetores é um vetor
total_vector <- A_vector + B_vector
total_vector

# Subtração de dois vetores é um vetor
diferenca_vector <- A_vector - B_vector
diferenca_vector

In [ ]:
# Poker and roulette winnings from Monday to Friday:
print("Outro exemplo de soma de dois vetores")
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Assign to total_daily how much you won/lost on each day
total_daily <- poker_vector + roulette_vector
total_daily

- O resultado da Multiplicação ou Divisão de escalar por vetor é um vetor:

VetorB = c * VetorA

In [5]:
VetorA <- c(1,2,3,4)
c <- 2
VetorB <- c*VetorA
VetorC <- VetorA*c
VetorD <- VetorA/c
VetorE <- VetorA^c   # exemplo de potencição
VetorA
VetorB
VetorC
VetorD
VetorE

[1] 1 2 3 4

[1] 2 4 6 8

[1] 2 4 6 8

[1] 0.5 1.0 1.5 2.0

[1]  1  4  9 16

### Advertência
Em R, o operador * significa a multiplicação elemento a elemento entre dois vetores, retornando um vetor.

Então: vetor3 = vetor1 * vetor2; resulta em um vetor3, cujos seus elementos são o produto de elementos dos vetores vetor1 e vetor2.

In [ ]:
print("Escreva um programa para exemplificar isto")

vetor1 <- 
vetor2 <- 
vetor3 <- 
vetor3

- Para se obter a soma dos elementos de um vetor, utilize-se a função sum( ):

sum(vetorX)

In [ ]:
print("Exemplo de soma de elementos de um vetor")
soma <- sum(VetorA)
str(soma)

#### Algumas funções úteis que operam sobre vetores:
- length(vetorX) ; obtém a dimensão do vetor
- mean(vetorX) ; obtém o valor médio dos valores dos elementos de um vetor
- max(vetorX); obtém o valor máximo entre os elementos de um vetor
- min(vetorX); obtém o valor mínimo entre os elementos de um vetor
- sd(vetorX); obtém o desvio padrão dos valores dos elementos de um vetor
- var(vetorX); obtém a variância dos valores dos elementos de um vetor
- median(vetorX); obtém a mediana dos valores dos elementos de um vetor

In [ ]:
print("Programa exemplificando o uso de funções com vetores")
vetorX <- c(1,2,3,2,1)
length(vetorX)
mean(vetorX)
max(vetorX)
min(vetorX)
sd(vetorX)
var(vetorX)
median(vetorX)

### 3.2 Acesso a elementos de um vetor:
- Para acessar elementos de um vetor (tuiliza-s eo mesmo procedimento para matrizes e frames) se utiliza [.].
- Entre os [.] s idica o elemento ou seguimento.
- Para acessar o 3 elementos do vetorX, usa-se vetorx[3].
- para acessar do elemento 3 ou elemento 5 do vetorX, usa-se vetorx[3:5]

In [ ]:
print("Programa para exemplificar como são acessados elementos de um vetor")
vetorX[3]
vetorX[c(3)]  # outra possibilidade
vetorX[c(3, 5)] # para acesso vários valores do vetor
vetorX[3:5]  # para acessar um intervalo no vetor

### 3.3 Uso de operadores lógicos de comparação com vetores

    < for less than
    > for greater than
    <= for less than or equal to
    >= for greater than or equal to
    == for equal to each other
    != not equal to each other
    & AND logical
    | OR logical

In [149]:
7> 3
3 != 3
TRUE & FALSE
TRUE | FALSE
c(4, 5, 6) > 5
vetorX
vetorX>=2
vetorX[vetorX>=2]

[1] TRUE

[1] FALSE

[1] FALSE

[1] TRUE

[1] FALSE FALSE  TRUE

[1] 1 2 3 2 1

[1] FALSE  TRUE  TRUE  TRUE FALSE

[1] 2 3 2

In [154]:
# The linkedin and facebook vectors have already been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)

# Popular days
linkedin > 15

# Quiet days
linkedin <= 5

# LinkedIn more popular than Facebook
linkedin > facebook

last <- tail(linkedin, 1)
#last <- tail(linkedin, 2)  # descomente essa linha para inferir o que faz a função tail()
#last <- tail(linkedin, 3)
last

# Is last under 5 or above 10?
last < 5 | last > 10

# Is last between 15 (exclusive) and 20 (inclusive)?
last >15 & last <=20

[1]  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE

[1] FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE

[1] 14

[1] TRUE

[1] FALSE

## 4. Tipo Matriz em R
- Em R, uma matriz é uma coleção de elementos de um mesmo tipos de dados (numeric, character, or logical) disposta em estrutura bidimensional, descrita em linhas e colunas. 
- Usa-se a função matrix() para criar uma matriz.
- Uma matriz de 9 elementos em sequência, dispostos em 3 linhas, é definida por:
    - matrix(1:9, byrow = TRUE, nrow = 3)

In [1]:
# Exemplo de criação de uma matriz 3x3

matriz1= matrix(1:9, byrow = TRUE, nrow = 3)
matriz1

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [2]:
# Exemplo de criação de uma matriz 3x3
matriz2= matrix(11:19, byrow = TRUE, nrow = 3)
matriz2

     [,1] [,2] [,3]
[1,] 11   12   13
[2,] 14   15   16
[3,] 17   18   19

#### Exercício:
- Crie uma Matriz 4x2, contendo os 8 primeiros números ímpares (1,3,5,..)

In [ ]:
# Resolução do exercício:
??????

- Exemplo de outro modo de criação/iniciação de matrizes

In [7]:
A <- matrix(c(1,2,3,4,5,6),3,2)  # matrix 3x2
B <- matrix(c(1,2,3,4,5,6),2,3)  # matrix 2x3

In [11]:
print("Matriz A")
A
print("Matriz B")
B

[1] "Matriz A"

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

[1] "Matriz B"

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [ ]:
print(" Programa exemplificando outra forma de se criar matrizes" )
print("Os valores correspondem aos valores arrecadados nos EUA e nos outros países, respectivamente, com a trilogia Star Wars")

# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)
box_office
# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office, byrow = TRUE, nrow = 3)
star_wars_matrix

De modo similar aos vetores, pode-se adicionar nomes às linhas e colunas de uma matriz

- rownames(my_matrix) <- row_names_vector

- colnames(my_matrix) <- col_names_vector

In [158]:
print("Outra forma de iniciar uma matriz")
teste <- matrix(2,5,3)
teste
colnames(teste) <- c("col1", "col2", "col3")
rownames(teste) <- c("row1", "row2", "row3", "row4","row5")
teste

[1] "Outra forma de iniciar uma matriz"

     [,1] [,2] [,3]
[1,] 2    2    2
[2,] 2    2    2
[3,] 2    2    2
[4,] 2    2    2
[5,] 2    2    2

     col1 col2 col3
row1 2    2    2
row2 2    2    2
row3 2    2    2
row4 2    2    2
row5 2    2    2

In [ ]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Construct matrix
star_wars_matrix <- matrix(c(new_hope, empire_strikes, return_jedi), nrow = 3, byrow = TRUE)

# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

# Name the columns with region
colnames(star_wars_matrix) <- region

# Name the rows with titles
rownames(star_wars_matrix) <- titles

# Print out star_wars_matrix

star_wars_matrix

### 4.1 Algumas funções úteis para operar sobre matrizes
- rowSums(), retorna num vetor o cálculo do total para cada linha de uma matriz. 
- my_vector <- rowSums(my_matrix)
- a função colSums() é a dual da rowSums()

In [ ]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)
worldwide_vector

Pode-se adicionar uma ou múltiplas colunas para uma matriz com a função cbind( ). O resultado é uma matriz que anexa as matrizes por coluna:
- big_matrix <- cbind(matrix1, matrix2, vector1 ...)

A função rbind() é a dual da cbind( ), ou seja, nesse caso há a composição das matrizes por linha ou invés de por coluna.

In [ ]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

# The worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix,worldwide_vector)
all_wars_matrix

In [ ]:
box_office2 <- c(474.5,  552.5, 310.7 , 338.7, 380.3 , 468.5)
star_wars_matrix2<- matrix(box_office2, nrow = 3, byrow = TRUE,
                           dimnames = list(c("The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"), 
                                           c("US", "non-US")))
all_wars_matrix <- rbind(star_wars_matrix,star_wars_matrix2)

star_wars_matrix
star_wars_matrix2
all_wars_matrix

In [ ]:
all_wars_matrix

worldwide_vector <- rowSums(all_wars_matrix)
all_wars_matrix <- cbind(all_wars_matrix,worldwide_vector)

total_vector <- colSums(all_wars_matrix)
all_wars_matrix <- rbind(all_wars_matrix,total_vector)
all_wars_matrix

### 4.2 Seleção de elementos de Matrizes:
- utiliza o mesmo priuncípio de acesso de elementos de vetores.
- no caso, se utiliza [.].
- como matrizes são bi-dimencionais, precisa-se utlizar vírgula [.,.].
- my_matrix[1,2] seleciona o elemento da linha 1 e coluna 2.
- my_matrix[1:3,2:4] resulta em uma matriz com dados das linhas 1, 2, 3 e colunas 2, 3, 4 da matriz my_matrix.

Se se deseja selecionar todos os elementos de uma linha ou coluna, é só não especificar a coluna ou linha, respectivamente.
- my_matrix[,1], seleciona todos os elementos da primeira coluna de my_matrix.
- my_matrix[2,], seleciona todos os elementos da segunda coluna de my_matrix.

In [ ]:
# all_wars_matrix is available in your workspace
all_wars_matrix

# Select the non-US revenue for all movies
non_us_all <- all_wars_matrix[,2]
  
# Average non-US revenue
print("Valor médio de non_us_all =")
mean(non_us_all)
  
# Select the non-US revenue for first two movies
non_us_some <- all_wars_matrix[1:2,2]
  
# Average non-US revenue for first two movies
print("Valor médio de non_us_some =")
mean(non_us_some)

### 4.3 Operação com Matrizes:
- operadores escalares
    - +, -, *, /
    - escalar com matriz returna uma matriz
    - duas matrizes, realizaoperação termo a termo

In [17]:
mat1 <- matrix(c(1,2,3,4,5,6),3,2) 
mat2 <- matrix(c(1,1,1,1,1,1),3,2)

#### Exercício -  Calcular e exibir os resultados das seguintes operações escalares sobre mat1 e mat2:
- soma
- subtração
- produto
- divisão

In [25]:
# Resolução do exercício

In [ ]:
# all_wars_matrix and ticket_prices_matrix are available in your workspace
all_wars_matrix

ticket_prices_mat <- all_wars_matrix[1:6,1:2]


ticket_prices_mat[1,1] <- 5
ticket_prices_mat[1,2] <- 5
ticket_prices_mat[2,1] <- 6
ticket_prices_mat[2,2] <- 6
ticket_prices_mat[3,1] <- 7
ticket_prices_mat[3,2] <- 7
ticket_prices_mat[4,1] <- 4
ticket_prices_mat[4,2] <- 4
ticket_prices_mat[5,1] <- 4.5
ticket_prices_mat[5,2] <- 4.5
ticket_prices_mat[6,1] <- 4.9
ticket_prices_mat[6,2] <- 4.9


ticket_prices_mat

teste <- all_wars_matrix[1:6,1:2]
teste
# Estimated number of visitors

#visitors <- all_wars_matrix[1:6,1:2] / ticket_prices_mat

# US visitors
us_visitors <- visitors[1:6,1]
us_visitors
# Average number of US visitors
mean(us_visitors)

#### Dica: A Função summary( ) fornece uma visão rápida sobre o conteúdo das variáveis:
- summary(my_var)

In [ ]:
summary(all_wars_matrix)

- operadores matriciais
    - %+%, %-%, %*%
    - solve(A),  corresponde à inversa da matriz A (para matrizes quadradas) 
    - t(A), corresponde à transposta da matriz A

In [26]:
mat1 <- matrix(c(1,2,3,4,5,6,7,8,9),3,3) 
mat2 <- matrix(c(1,1,1,1,1,1,1,1,1),3,3)
identidade3 = I10 <- diag(rep(1,3))  # matriz identidade 3x3

In [27]:
identidade3

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

In [ ]:
#### Exercício: Obter
- Inversa de Identidade3
- Transposta de mat1
- produto matricial entre mat1 e mat2
- Soma matricial de mat1 e mat2

In [ ]:
# Resolução do exercício:

### 4.3 Comparação entre matrizes
- realizado de forma similar a com vetores

In [148]:
# The social data has been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)
views <- matrix(c(linkedin, facebook), nrow = 2, byrow = TRUE)

# When does views equal 13?
views == 13

# When is views less than or equal to 14?
views <= 14

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

     [,1]  [,2] [,3] [,4]  [,5] [,6]  [,7]
[1,] FALSE TRUE TRUE  TRUE TRUE FALSE TRUE
[2,] FALSE TRUE TRUE FALSE TRUE  TRUE TRUE

In [157]:
print("Outra forma de iniciar uma matriz")
teste <- matrix(2,5,3)
teste

     [,1] [,2] [,3]
[1,] 2    2    2
[2,] 2    2    2
[3,] 2    2    2
[4,] 2    2    2
[5,] 2    2    2

## 5. Tipo Frame em R

- Estrutura bidimensional, onde as colunas não precisam ter elementos do mesmo tipo, como no caso das matrizes.
- No data.frame cada coluna representa uma variável e cada linha uma observação.
- Equivale aos dados de planilha.

### 5.1 Criação de data.frame
- Usar a função data.frame()

In [130]:
# Exemplo de Craição de data.frame

alunos <- data.frame(nome = c("João", "Clara", "Miguel", "Mariana"),
                           sexo = c("M", "F", "M", "F"),
                           idade = c(21,23, 22, 21),
                           stringsAsFactors = FALSE)

In [90]:
alunos

  nome    sexo idade
1 João    M    21
2 Clara   F    23
3 Miguel  M    22
4 Mariana F    21

In [91]:
str(alunos)

'data.frame':	4 obs. of  3 variables:
 $ nome : chr  "João" "Clara" "Miguel" "Mariana"
 $ sexo : chr  "M" "F" "M" "F"
 $ idade: num  21 23 22 21

#### Analise o que fazem as funções:
- rownames(data.frame)
- colnames(data.frame)
- names(data.frame)

In [65]:
rownames(alunos)
colnames(alunos)
names(alunos)

[1] "1" "2" "3" "4"

[1] "nome"  "sexo"  "idade"

[1] "nome"  "sexo"  "idade"

### 5.1 Manipulação de Elementos de data.frame
- Segue procedimento muito similar à manipulação de matrizes.
    - acesso a elementos do data.frame.
    - modificar elementos do data.frame.

#### Acesso a elementos de data.frames

In [66]:
alunos

  nome    sexo idade
1 João    M    21
2 Clara   F    23
3 Miguel  M    22
4 Mariana F    21

In [67]:
alunos[1, 1]

[1] "João"

In [68]:
alunos[1, 1, drop = FALSE]

  nome
1 João

In [69]:
alunos[,1:2]

  nome    sexo
1 João    M
2 Clara   F
3 Miguel  M
4 Mariana F

In [70]:
alunos[-1, ]

  nome    sexo idade
2 Clara   F    23
3 Miguel  M    22
4 Mariana F    21

In [71]:
## seleciona linha 3, colunas "nome" e "iade"
alunos[3 , c("nome", "idade")]

  nome   idade
3 Miguel 22

In [ ]:
# exercício: Selecione as duas últimas linhas

#### Modificação de elementos de data.frames

In [72]:
alunos

  nome    sexo idade
1 João    M    21
2 Clara   F    23
3 Miguel  M    22
4 Mariana F    21

In [92]:
## Aniversário de Clara - aumento da idade de Clara
alunos[2, "idade"] <- alunos[2, "idade"] + 1

In [74]:
alunos

  nome    sexo idade
1 João    M    21
2 Clara   F    24
3 Miguel  M    22
4 Mariana F    21

### 5.2 Outras Formas para Manipulação de Elementos de data.frames
- Pode-se acessar e modificar elementos de data.frame utilizando o operador $ e a lista [[ ]]
- Ambos sempre retornam um vetor como resultado.

In [75]:
## Seleciona coluna nome
alunos$nome

## Seleciona coluna nome 
alunos[["nome"]]

[1] "João"    "Clara"   "Miguel"  "Mariana"

[1] "João"    "Clara"   "Miguel"  "Mariana"

In [ ]:
## Exercício: Selecione a coluna 'idade' no data.frame alunos

#### Também é possível alterar valor combinando $ ou [[ ]] com <-:

In [93]:
## Aniversário de João
alunos$idade[1] <- alunos$idade[1] + 1
 
## equivalente
# alunos[["idade"]][1] <- alunos[["idade"]][1] + 1


alunos

  nome    sexo idade
1 João    M    22
2 Clara   F    24
3 Miguel  M    22
4 Mariana F    21

#### Advertência: o retorno da operação pode ser vertor ou data.frame
- df[ ,"x"]                - retorna a coluna x do data.frame df como tipo vetor.
- df$x                     - retorna a coluna x do data.frame df como tipo vetor.
- df[ , "x", drop = FALSE] - retorna a coluna x do data.frame df como tipo data.frame.
- df["x"]                  - retorna a coluna x do data.frame df como tipo data.frame.

In [77]:
## Retorna data.frame
alunos[ ,"idade", drop = FALSE]

 
## Retorna data.frame
alunos["idade"]

  idade
1 22
2 24
3 22
4 21

  idade
1 22
2 24
3 22
4 21

In [78]:
## Retorna vetor
alunos$idade

 
## Retorna vetor
alunos[ ,"idade"]

[1] 22 24 22 21

[1] 22 24 22 21

### 5.3 Adicionar Colunas e Linhas em data.frame
- Há várias forma de se adicionar e remover colunas em data.frames
- Para adicionar, pode utilizar $, [ , ],  [[ ]] ou com cbind().

In [131]:
# Adição de coluna no data.frame alunos

# utilizando df$nova_coluna
alunos$curso <- c("Engenharia Mecatrônica", "Engenharia de Computação", "Engenharia de Computação", "Engenharia de Computação" )

# utilizando [[]]
alunos[["altura"]] <- c(1.71, 1.55, 1.82, 1.63)

# utilizando [ , "nova_coluna"]
alunos[, "peso"] <- c(88.1, 55.2, 72.6, 61.1)

# Utilizando matrizes
alunos <- cbind(alunos, clube = c("ABC", "América", "Alecrim", "Potiguar"),
                      stringsAsFactors = FALSE)

In [95]:
alunos

  nome    sexo idade curso                    altura peso clube
1 João    M    22    Engenharia Mecatrônica   1.71   88.1 ABC
2 Clara   F    24    Engenharia de Computação 1.55   55.2 América
3 Miguel  M    22    Engenharia de Computação 1.82   72.6 Alecrim
4 Mariana F    21    Engenharia de Computação 1.63   61.1 Potiguar

#### Inclusão de nova linha
- Basta atribuir uma nova linha ao data.frame.
- Mas, se os elementos têm colunas de tipos diferentes, use a função data.frame
   - para evitar que todas as colunas do o data.frame sejam transformadas num memso tipo.

In [110]:
# Inclusão de uma nova linhas
alunos[4, ] <- data.frame(nome = "Ênio", sexo = "M", idade = 21, curso = "Engenharia Mecatrônica",
                          altura = 1.68, peso = 63.2,clube = "Tashima",
                                stringsAsFactors = FALSE)

In [111]:
alunos

  nome   sexo idade curso                    altura peso clube
1 João   M    22    Engenharia Mecatrônica   1.71   88.1 ABC
2 Clara  F    24    Engenharia de Computação 1.55   55.2 América
3 Miguel M    22    Engenharia de Computação 1.82   72.6 Alecrim
4 Ênio   M    21    Engenharia Mecatrônica   1.68   63.2 Tashima

- Outra maneira, é utilizando a finção rbind( ).

In [116]:
# Inclusão de uma nova linha
rbind(alunos, data.frame(nome = "Amanda", sexo = "F", idade = 20, curso = "Engenharia de Computação",
                         altura = 1.65, peso = 62.1, clube = "ABC", 
                                stringsAsFactors = FALSE))

  nome   sexo idade curso                    altura peso clube
1 João   M    22    Engenharia Mecatrônica   1.71   88.1 ABC
2 Clara  F    24    Engenharia de Computação 1.55   55.2 América
3 Miguel M    22    Engenharia de Computação 1.82   72.6 Alecrim
4 Ênio   M    21    Engenharia Mecatrônica   1.68   63.2 Tashima
5 Amanda F    20    Engenharia de Computação 1.65   62.1 ABC

In [117]:
alunos[4:5,]

   nome sexo idade curso                  altura peso clube
4  Ênio M    21    Engenharia Mecatrônica 1.68   63.2 Tashima
NA NA   NA   NA    NA                       NA   NA   NA

#### Exercício: 
- Crie uma nova coluna com o IMC dos Alunos.
   - IMC = peso/(altura ou quadrado)
   - Calcule a média do IMC dos alunos.

In [58]:
# Exercício

### 5.3 Remover Colunas e Linhas em data.frame

- Para remover uma remover uma coluna de um data.frame basta atribuir o valor NULL a ela.
   - alunos$clube <- NULL
- Removendo linhas de um data.frame basta selecionar apenas aquelas linhas que você deseja manter:
  - alunos <- alunos[1:3, ]  # mantém as 03 primeiras linhas
  - alunos <- alunos[alunos$peso > 65  # mantém os alunos com peso acima de 65 kilos

#### Exercício:
- Obtenha um data.frame meninos_altos, que correspondem aos alunos do sexo masculino com altura maior que 1.75m.

In [ ]:
# Resolução do Exercício:

### 5.4  Algumas Funções Importante
- subset()  - 
- with()
- sapply() e lapply()
- Filter() 
- sort( )
- order( )

#### Função subset()
- Esta função seleciona um sub-frame a partir de uma expressão lógica.
- Estrura geral:	
     subset(nome_do_data_frame, expressao_logica_para_filtrar_linhas,
            select = nomes_das_colunas)

In [107]:
alunos

  nome   sexo idade curso                    altura peso clube
1 João   M    22    Engenharia Mecatrônica   1.71   88.1 ABC
2 Clara  F    24    Engenharia de Computação 1.55   55.2 América
3 Miguel M    22    Engenharia de Computação 1.82   72.6 Alecrim
4 Ênio   M    21    Engenharia Mecatrônica   1.68   63.2 Tashima

In [106]:
# Exemplo de Uso

## alunos[alunos$sexo == "F",]
subset(alunos, sexo == "F")

  nome  sexo idade curso                    altura peso clube
2 Clara F    24    Engenharia de Computação 1.55   55.2 América

In [119]:
# Exemplo de Uso

subset(alunos, sexo == "M" & altura >1.7 )

  nome   sexo idade curso                    altura peso clube
1 João   M    22    Engenharia Mecatrônica   1.71   88.1 ABC
3 Miguel M    22    Engenharia de Computação 1.82   72.6 Alecrim

In [120]:
# Exemplo de Uso
# alunos[alunos$sexo == "M", c("nome", "idade")]
subset(alunos, sexo == "M", select = c("nome", "idade"))

  nome   idade
1 João   22
3 Miguel 22
4 Ênio   21

#### Função with()
- Função para facilitar operações com colunas.

In [132]:
alunos

  nome    sexo idade curso                    altura peso clube
1 João    M    21    Engenharia Mecatrônica   1.71   88.1 ABC
2 Clara   F    23    Engenharia de Computação 1.55   55.2 América
3 Miguel  M    22    Engenharia de Computação 1.82   72.6 Alecrim
4 Mariana F    21    Engenharia de Computação 1.63   61.1 Potiguar

In [138]:
# Exemplo de uso

with(alunos, peso/(altura*altura))

[1] 30.12893 22.97607 21.91764 22.99673

In [141]:
# Quatro formas de fazer a mesma coisa

subset(alunos, sexo == "M", select = "idade", drop = TRUE)
with(alunos, idade[sexo == "M"])
alunos$idade[alunos$sexo == "M"]
alunos[alunos$sexo == "M", "idade"]

[1] 21 22

[1] 21 22

[1] 21 22

[1] 21 22

#### Funções sapply() e lapply()
- As funções sapply( ) e lapply( ) aplicam uma função nas colunas de um data.frame.
- A diferença é que lapply( ) sempre retorna uma lista.

In [142]:
alunos

  nome    sexo idade curso                    altura peso clube
1 João    M    21    Engenharia Mecatrônica   1.71   88.1 ABC
2 Clara   F    23    Engenharia de Computação 1.55   55.2 América
3 Miguel  M    22    Engenharia de Computação 1.82   72.6 Alecrim
4 Mariana F    21    Engenharia de Computação 1.63   61.1 Potiguar

In [143]:
# Aploca a função mean nas colunas altura e peso
sapply(alunos[5:6], mean)

lapply(alunos[5:6], mean)

 altura    peso
 1.6775 69.2500

$altura
[1] 1.6775

$peso
[1] 69.25

#### Função Filter()
- FIltra  apenas aquelas colunas de determinada classe (ou que satisfaçam determinada condição).

In [144]:
# seleciona apenas colunas numéricas
Filter(is.numeric, alunos)

  idade altura peso
1 21    1.71   88.1
2 23    1.55   55.2
3 22    1.82   72.6
4 21    1.63   61.1

In [145]:
# seleciona apenas colunas de texto
Filter(is.character, alunos)

  nome    sexo curso                    clube
1 João    M    Engenharia Mecatrônica   ABC
2 Clara   F    Engenharia de Computação América
3 Miguel  M    Engenharia de Computação Alecrim
4 Mariana F    Engenharia de Computação Potiguar

In [147]:
# aplica a média apenas para variáveis numéricas
sapply(Filter(is.numeric, alunos), mean)

  idade  altura    peso
21.7500  1.6775 69.2500

#### Exercício: Obtenha os maiores valores de idade, altura e peso dos alunos

In [ ]:
# Exercício - resolução

#### Função sort( )
    - Este comendo faz uma classificação (crescente ou decrescente) de um vetor.
    - sintaxe --> sort(x, decreasing = FALSE, ...)
        - onde x é o vetor a ser classificado, decreasing = false define que a classificação será em ordem crescente e ... significa que outros argumentos podem ser incrementados. 
        - Por exemplo: na.last = NA significa que valores que não foram definidos não vão ser listados. 
        - Outras opções seriam na.last = TRUE (os valores faltantes ficariam após o último valor classificado) e na.last=FALSE  (os valores faltantes ficariam antes do primeiro valor classificado).

In [12]:
amostra <- c(4, 10, 3, -2, NA, 0, NA, 30, -5)
sort(amostra)   #É a classificação simples com os argumentos com seus valores padrões
sort(amostra, decreasing=TRUE, na.last=TRUE)  # ordenar de forma decrescente e comocar os NA no final

[1] -5 -2  0  3  4 10 30

[1] 30 10  4  3  0 -2 -5 NA NA

#### Função order()
    - A função faz uma permutação que rearranja os valores em ordem crescente ou decrescente.
    - A sintaxe da função order é:
        - order(..., na.last = TRUE, decreasing = FALSE)

In [21]:
# exemplo de uso da função order()
letras <-c('g', 'a', 'z', 'c')
a <- order(letras)
b <- sort(letras)
c <- letras[order(letras)]
letras
a
b
c

[1] "g" "a" "z" "c"

[1] 2 4 1 3

[1] "a" "c" "g" "z"

[1] "a" "c" "g" "z"

- Mais exemplos com a função order().

In [5]:
#set.seed(1)
dados <- data.frame(w=rep(c("A", "B"), 2), x= rep(c("D", "C"), 2), y= rnorm(4), z=rnorm(4),
                    stringsAsFactors=FALSE)
dados

  w x y          z
1 A D -0.6264538  0.3295078
2 B C  0.1836433 -0.8204684
3 A D -0.8356286  0.4874291
4 B C  1.5952808  0.7383247

In [6]:
# Solução 1
# No caso, ordena de acordo por w em ordem alfabética inversa, x em ordem alfabética e y em ordem decrescente. Se quiser que tudo seja na mesma ordem, basta um TRUE ou FALSE, que valerá para todos.

dados[order(dados$w, dados$x, dados$y, decreasing=c(TRUE, FALSE, TRUE)), ]

  w x y          z
4 B C  1.5952808  0.7383247
2 B C  0.1836433 -0.8204684
1 A D -0.6264538  0.3295078
3 A D -0.8356286  0.4874291

In [ ]:
# caso se queira ordenar apenas uma coluna

dados[order(dados$z, decreasing=TRUE),]

In [7]:
# Usando o pacote plyr
library(plyr)
arrange(dados,desc(z))

  w x y          z
1 B C  1.5952808  0.7383247
2 A D -0.8356286  0.4874291
3 A D -0.6264538  0.3295078
4 B C  0.1836433 -0.8204684

In [10]:
# Usando a função arrange - o default é ordenar de forma crescente
arrange(dados,desc(w),z)

  w x y          z
1 B C  0.1836433 -0.8204684
2 B C  1.5952808  0.7383247
3 A D -0.6264538  0.3295078
4 A D -0.8356286  0.4874291

## 6. Controle de Fluxo em R

- If
- Loop while
- Loop for

### 6.1 Comando IF-ELSE:

if (logic_condition) 

 { 
   conjunto de comandos
 }  
      
else 
 {
  conjunto de comandos
 }

In [ ]:
# Variables related to your last day of recordings
medium <- "LinkedIn"
num_views <- 14

# Control structure for medium
if (medium == "LinkedIn") {
  print("Showing LinkedIn information")
} else if (medium == "Facebook") {
  # Add code to print correct string when condition is TRUE
   print("Showing Facebook information")
} else {
  print("Unknown medium")
}

# Control structure for num_views
if (num_views > 15) {
  print("You're popular!")
} else if (num_views <= 15 & num_views > 10) {
  # Add code to print correct string when condition is TRUE
   print("Your number of views is average")
} else {
  print("Try to be more visible!")
}

### 6.2 Comando WHILE

while (logic_condition)

 { 
 
   conjunto de comandos
   
 }

In [2]:
# Initialize the speed variable
speed <- 64

# Code the while loop
while ( speed > 30) {
  print("Slow down!")
  speed <- speed -7
}

# Print out the speed variable
speed

[1] "Slow down!"
[1] "Slow down!"
[1] "Slow down!"
[1] "Slow down!"
[1] "Slow down!"

[1] 29

#### Exemplos com WHILE e IF

In [3]:
# Initialize the speed variable
speed <- 64

# Extend/adapt the while loop
while (speed > 30) {
  print(paste("Your speed is",speed))
  if ( speed > 48) {
    print("Slow down big time!")
    speed <- speed - 11
    
  } else {
    
    print("Slow down!")
    speed <- speed - 6
  }
}

[1] "Your speed is 64"
[1] "Slow down big time!"
[1] "Your speed is 53"
[1] "Slow down big time!"
[1] "Your speed is 42"
[1] "Slow down!"
[1] "Your speed is 36"
[1] "Slow down!"

#### Exemplos com BREAK no loop

In [4]:
# Initialize the speed variable
speed <- 88

while (speed > 30) {
  print(paste("Your speed is", speed))
  
  # Break the while loop when speed exceeds 80
  if (speed > 80 ) {break
    
  }
  
  if (speed > 48) {
    print("Slow down big time!")
    speed <- speed - 11
  } else {
    print("Slow down!")
    speed <- speed - 6
  }
}

[1] "Your speed is 88"

### 6.3 Comando FOR

for(i in sequencia)

 { 
   
   conjunto de comandos
   
 }

In [154]:
n1 <- 1
n2 <- 6
for(i in n1:n2){
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [153]:
n <- 8
for(letra in letters[1:n]){
  print(letra)
}

[1] "a"
[1] "b"
[1] "c"
[1] "d"
[1] "e"
[1] "f"
[1] "g"
[1] "h"

## 7. Função em R

- Em construção